@import 'tailwindcss';
@theme {
	--color-primary: #4d6bfe;
}

html {
	@apply scroll-smooth;
}

body {
	font-family: var(--font-inter), Arial, sans-serif;
}

::-webkit-scrollbar {
	display: none;
}

.loader div:nth-child(2) {
	animation-delay: 0.2s;
}

.loader div:nth-child(3) {
	animation-delay: 0.4s;
}

code {
	white-space: pre-wrap !important;
}

pre {
	border-radius: 10px !important;
}

.hudson-toast {
	background: #18181b;
	color: #fafafa;
	border: 1px solid #27272a;
}
